.footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  align-items: center;
  font-family: "GraublauWeb", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  font-size: x-large;
  color: aliceblue;
}

.footer a {
  text-decoration: none;
  color: aliceblue;
}

.footer a:hover {
  font-size: xx-large;
}

.footer div:hover {
  font-size: xx-large;
}
