
@font-face {
  font-family: GraublauWeb;
  src: url("/src/assets/fonts/ZealotOutline-rnMy.ttf") format("opentype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: darkslategray;
}



